<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/icon/icon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/icon/icon-96x96.png" sizes="96x96">
<%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
<meta name="twitter:title" content="<%- page.title %>">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BCL84R82GK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%- theme.google_analytics %>');
</script>

<%
  var twitterDescriptionTag = open_graph().trim().split('\n')[0];
  if (twitterDescriptionTag) {
    twitterDescriptionTag = twitterDescriptionTag.replace(`name="description"`, `name="twitter:description"`)
  } else {
    twitterDescriptionTag = ''
  }
  twitterDescriptionTag
%>
<%- twitterDescriptionTag %>

<%
var title = page.title;
if (is_archive()){
  title = 'Archives';
  if (is_month()){
    title += ': ' + page.year + '/' + page.month;
  } else if (is_year()){
    title += ': ' + page.year;
  }
} else if (is_category()){
  title = 'Category: ' + page.category;
} else if (is_tag()){
  title = 'Tag: ' + page.tag;
}
%>
<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

<%- css('styles/main') %>
